body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

canvas {
    background-color: #000;
}

#score {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    font-size: 20px;
}

